table {
    width: 90%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table, th, td {
    border: 1px solid #333;
}

th {
    background-color: #cce0ff;
    padding: 8px;
}

td {
    padding: 8px;
}